<section>
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-md-6 offset-md-5">
                <h4>{{section_title}}</h4>
            </div>
        </div>


        <div class="row justify-content-between">

            {{ about }}
            <div class="col-md-4 col-12 mb-3">
                <div class="card h-100 text-center" style="width: 25rem;">
                    <div class="card-body searchable-content">
                        <h5 class="card-title">{{ title }}</h5>

                        <p class="card-text">{{ description }}</p>


                    </div>
                </div>
            </div>
            {{ /about }}





        </div>
    </div>
</section>