<nav id="yourStickyNavbarId" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">D & I</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ nav:top_level_navigation }}
                <li class="nav-item">
                    <a {{ if is_current }} class="nav-link active" {{ else }} class="nav-link"  {{ /if }} aria-current="page" href="{{url}}">{{ title }}</a>
                </li>
                {{ /nav:top_level_navigation }}
               
            </ul>
            <form class="d-flex" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>