<section>
    <div class="container-fluid mb-3">
        <div class="row p-5">
            <div class="col-md-6 offset-md-5">
                <h4>{{section_title}}</h4>
            </div>
        </div>


        <div class="row justify-content-between">

            <div class="col-md-8 col-12 mb-3">
                <div class="text-center p-5 ">
                    <div class="card-body searchable-content">
                        <h5 class="card-title">{{news_title}}</h5>

                        <p class="card-text">{{news_description}}</p>
                        <a href="news_link" class="btn btn-primary">{{news_cta}}</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <img src="{{news_image}}" class="card-img-top" alt="...">


            </div>
        </div>
    </div>





    </div>
    </div>
</section>