 <!--products -->
 <section>
    <div class="container-fluid ">
        <div class="row p-5">
            <div class="col-md-6 offset-md-5">
                <h4>{{section_title}}</h4>
            </div>
        </div>
    
 <div class="row justify-content-between p-2 align-items-stretch">
        {{ product }}        
    <div class="col-md-4 col-12 mb-3">
        <div class="card h-100" style="{{card_size}}">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body searchable-content" id="product1">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">
                   {{description}}
                </p>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{modal_link}}">{{button_cta}}</a>
            </div>
        </div>
    </div>

    
    

    
    <!--modals-->
    <div class="modal fade" id="{{modal_link}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modal_title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Modal content for Card 2 -->
                   {{ modal_description }}
                </div>
            </div>
        </div>
    </div>

   {{ /product }}

</div>

</div>
</section>